@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap');
.bd__button {
  padding: 10px 0;
  text-align: right;
}
.bd__button > a{
  font-weight: 100;
  text-decoration: none;
  color: #BDC3CB;
  font-family: sans-serif;
}
.bd__button > a:hover {
  color: #798897;
}
* { font-family: 'Orbitron', sans-serif !important; }

* { font-family: 'Orbitron', sans-serif !important; }

* { font-family: 'Orbitron', sans-serif !important; }
