@keyframes typeIn {
    from { width: 0% }
    to { width: 100% }
  }


  html {
    cursor: url("cursors/arrowhead-normal.svg") 8 8, auto;
}

div:hover {
  cursor: url("cursors/arrowhead-hover.svg") 8 8, auto !important;
}
div:active {
  cursor: url("cursors/arrowhead-mousedown.svg") 8 8, auto !important;
}